<!DOCTYPE HTML>
<html lang="en">
<head>
	<!-- Required meta tags -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	
	<title>W1HLO HAB Data</title>
	
</head>

<body>
	<div class="container">
		<h1>W1HLO HAB Data</h1>
		<div class="jumbotron">
			<h2>Latest Data</h2>
			<div id="habDataTable">
	    		<table class="table">
	    			<tr><th>Client ID</th><th>Date / Time</th><th>Inside Temp</th><th>Outside Temp</th><th>Pressure</th><th>Battery Voltage</th><th>Solar Voltage</th></tr>
					{% for habData in habInfo %}
						<tr><td>{{ habData['clientID'] }}</td><td>{{ habData['date'] }} {{ habData['time'] }}</td><td>{{ habData['insideTemp'] }} C</td>
							<td>{{ habData['outsideTemp'] }} C</td><td>{{ habData['pressure'] }} mbar</td><td>{{ habData['batteryVoltage'] }} V</td><td>{{ habData['solarVoltage'] }} V</td></tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="container">
	
		<h1>Test Graph</h1>
		<center>
		<canvas id="testChart" width="400" height="400"></canvas>
		<script>
			var ctx = document.getElementById("testChart").getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: [
						{% for item in timeLabels %}
							"{{ item }}",
						{% endfor %}
					],
					datasets: [{
						data: [
							{% for temp in clientTemps %}
								"{{ temp }}",
							{% endfor %}
						],
						label: "Inside Temperature",
						yAxisID: 'Temperature',
						borderColor: "#3e95cd",
						fill: false
					}, {
						data: [
							{% for pressure in clientPressure %}
								"{{ pressure }}",
							{% endfor %}
						],
						label: "Barometric Pressure",
						yAxisID: 'Barometer',
						borderColor: "#8e5ea2",
						fill: false
					}]
				},
				options: {
					title: {
						display: true,
						text: 'Test Temperature Graph'
					},
					hover: {
						mode: 'index',
						intersect: true
					},
					scales: {
						yAxes: [{
							id: 'Temperature',
							type: 'linear',
							position: 'left',
						}, {
							id: 'Barometer',
							type: 'linear',
							position: 'right',
						}]
					}
				}
			});
			
		</script>
		</center>
	
	</div>
</body>
</html>
